<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Greenlight AI Recruiting -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/greenlight-ai" class="portfolio-box">
                    <img src="img/portfolio/greenlight-ai.jpg" class="img-responsive" alt="Greenlight AI Recruiting">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI &amp; Recruiting
                            </div>
                            <div class="project-name">
                                Greenlight AI Recruiting
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- MVP90 -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/mvp90" class="portfolio-box">
                    <img src="img/portfolio/mvp90.jpg" class="img-responsive" alt="MVP90">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                High-Volume Messaging
                            </div>
                            <div class="project-name">
                                MVP90
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- RVL -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/rvl" class="portfolio-box">
                    <img src="img/portfolio/rvl.jpg" class="img-responsive" alt="RVL">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Full Stack &amp; AWS
                            </div>
                            <div class="project-name">
                                RVL
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- CareSphere -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/caresphere" class="portfolio-box">
                    <img src="img/portfolio/caresphere.jpg" class="img-responsive" alt="CareSphere">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Healthcare Solutions
                            </div>
                            <div class="project-name">
                                CareSphere
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- GroceryCart -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/grocerycart" class="portfolio-box">
                    <img src="img/portfolio/grocerycart.jpg" class="img-responsive" alt="GroceryCart">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-Commerce
                            </div>
                            <div class="project-name">
                                GroceryCart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- XenCap -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/xencap" class="portfolio-box">
                    <img src="img/portfolio/xencap.jpg" class="img-responsive" alt="XenCap">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Full Stack &amp; Messaging
                            </div>
                            <div class="project-name">
                                XenCap
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- VoiceMatchApp -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/voicematchapp" class="portfolio-box">
                    <img src="img/portfolio/voicematchapp.jpg" class="img-responsive" alt="VoiceMatchApp">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android / AI
                            </div>
                            <div class="project-name">
                                VoiceMatchApp
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Delphi API Building -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/delphi-api" class="portfolio-box">
                    <img src="img/portfolio/delphi-api.jpg" class="img-responsive" alt="Delphi API Building">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                API / DevOps
                            </div>
                            <div class="project-name">
                                Delphi API Building
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Perkway -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/perkway" class="portfolio-box">
                    <img src="img/portfolio/perkway.jpg" class="img-responsive" alt="Perkway">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Engagement
                            </div>
                            <div class="project-name">
                                Perkway
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Test Case Generator -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://pramodshanmugam.github.io/test-case-generator" class="portfolio-box">
                    <img src="img/portfolio/test-case-generator.jpg" class="img-responsive" alt="Test Case Generator">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VS Code Extension
                            </div>
                            <div class="project-name">
                                Test Case Generator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
